.game {
  height: 100%;
  font-family: sans-serif;
}

.game__body {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
}

.game__interface {
  color: white;
}

.game__score {
}

.game__best-score {
  visibility: hidden;
}

canvas {
  border: 1px solid white;
}
